/* .appContainer{
  text-align: center;
  width: 600px;
  background-color: black;
  border-radius: 6px;
  height: 50vh;
}

h1{
  color: white;
  padding-top: 20px;
}
#paragraph{
  color: #bbb6b6;
  padding: 2px;
} */