 body{
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #000;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

/* .paragraph{
  margin: 2px;
  color: #767676;
  text-transform: uppercase;
  padding: 2px;
}

.heading{
color: #424141;
font-size: 18px;
padding: 2px;
}

.userContainer{
  border: 2px solid black;
  width: 400px;
  height: 10vh;
  border-radius: 8px;
  margin: 15px;
  margin-left: 90px;
  text-align: left;
  background-color: beige;
  padding: 2px;
} */

/* .cardContainer{
  margin: 50px auto;
  background-color:#026060;
}

.heading{
  color: white;
}

.paragraph{
  color: #dddbdb;
}

.link{
  color: #99de99;
  text-decoration: none;
} */

/* .login-container{
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color:lightblue;
  width: 450px;
  height: 35vh;
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-top: 100px;
  padding: 15px;
}

.form-container{
  display: flex;
  padding: 3px;
  margin: 5px;
}

input{
  width: 100%;
}

.loginBtn{
  width: 100%;
  margin: 10px;
  margin-left: 2px;
  padding: 8px;
} */

/* .delete-btn{
  margin-top: 300px;
  width: 100px;
  border: 2px solid gray;
  border-radius: 4px;
  padding: 4px;
  font-weight: 500;
}

.warning-box{
   width: 400px;
  height: 200px;
  border: 3px solid red;
  text-align: center;
  background-color: #a58282;
  margin: 200px;
}

.warning-heading{
  color: #fff;
  font-size: 30px;
  margin: 30px auto;
}

.warning-text{
  color:#e8e8e8;
  font-size: 20px;
  margin: 30px auto;
}

.proceed-btn{
  background-color: maroon;
  color: #fff;
  width: 100px;
  border: 2px solid maroon;
  border-radius: 4px;
  padding: 4px;
  font-weight: 500;
} */

.todo-list{
 background-color: #8b5cf6; 
  color: white;
  font-size: 1.2rem;
  text-align: center;
  margin: 25px 0;
  padding: 15px 0;
  border-radius: 10px;
  cursor: pointer;
  width: 400px;
  list-style-type: none;

}

